---
layout: base.njk
title: Hi, I'm Matt Galligan
description: Nice to see you, here are some links.
---

<main id="main" class="flex items-center justify-center min-h-screen px-8 pb-12 pt-10 md:p-16 md:pt-12 lg:p-24 lg:pt-16 dark:bg-black text-gray-800">
	<div class="max-w-2xl mx-auto text-center">
    	<h1 class="font-bold text-5xl sm:text-6xl mb-1 dark:text-white">hi, i'm mg</h1>
        <p class="mb-4 font-semibold text-l dark:text-gray-500">aka Matt Galligan</p>

        <ul class="my-4 -mx-2 text-xl sm:text-2xl font-semibold dark:text-white">
            <li class="p-2">
                I'm working on <a href="https://xmtp.com" target="blank" class="text-pink-500 hover:text-pink-400 no-underline border-b-2 border-pink-500 hover:border-pink-400">XMTP</a><br class="sm:hidden"/> and <a href="https://careers.xmtp.com" target="blank" class="text-pink-500 hover:text-pink-400 no-underline border-b-2 border-pink-500 hover:border-pink-400">we're hiring</a>.
            </li>
            <li class="p-2">
                Here's my <a href="https://mattgalligan.com" target="blank" class="text-green-500 hover:text-green-400 no-underline border-b-2 border-green-500 hover:border-green-400">blog</a>, <a href="https://twitter.com/mg" target="blank" class="text-blue-500 hover:text-blue-400 no-underline border-b-2 border-blue-500 hover:border-blue-400">Twitter</a>, <br class="sm:hidden"/> <a href="https://github.com/mg0716" target="blank" class="text-indigo-500 hover:text-indigo-400 no-underline border-b-2 border-indigo-500 hover:border-indigo-400">Github</a>, and <a href="https://linkedin.com/in/mattgalligan" target="blank" class="text-gray-500 hover:text-gray-400 no-underline border-b-2 border-gray-500 hover:border-gray-400">LinkedIn</a>.
            </li>
        </ul>
	</div>
</main>